# Visual Studio
.vs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Rider / VSCode
.idea/
.vscode/

# NuGet
*.nupkg
packages/

# EF
*.sourcelink.json
